@font-face
	font_name('Raleway_Regular', 'Raleway/regular')

@font-face
	font_name('Courier_Bold', 'Courier_New/bold')

@font-face
	font_name('Raleway_SemiBold', 'Raleway/semibold')

@font-face
	font_name('Raleway_Bold', 'Raleway/bold')

@font-face
	font_name('Raleway_Black', 'Raleway/black')

@font-face
	font_name('Social', 'Social/icons')
