// COLORS
$colorFont = #000
$colorBg =  #000
$colorOverlay = rgba(#282828, .05)

// overwrite
	$red = #d63334
	$redLight = #c84877
	$green = #1fc7ba
	// $yellow = #f3c736

// shadow
	$shadowRed = rgba(214, 51, 52, 0.5)
	$shadowGreen = rgba(31, 199, 186, 0.5)

// social
	colorVK = #4d75a3
	colorFB = #3b5998
	colorOK = #ff671b

// SIZES
$baseFontSize = 16px

$prefix = '.bm'
$imagePath = '../img/'

// FUNCTIONS
fontToRem(value)
	unit(value/$baseFontSize, 'rem')